/* 
breakpoints:
>1280px- desktop
1280px - tablet-l
-768px - tablet-p
-320px - phone*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@use "normalize.css";
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Arial", sans-serif;
  font-style: normal;
  line-height: 1;
  font-weight: 400;
  color: #545454;
  background-color: #f6f6f6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  /* 1280px */
  max-width: 128rem;
  margin: 0 auto;
  overflow: visible;
  overflow-x: hidden;
}

@font-face {
  font-family: "Georgia";
  src: url("../../fonts/georgia/georgia-regular.ttf") format(ttf);
}

@font-face {
  font-family: "Georgia";
  src: url("../../fonts/georgia/georgia-bold.ttf") format(ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Georgia";
  src: url("../../fonts/georgia/georgia-italic.ttf") format(ttf);
  font-style: italic, oblique;
}

@font-face {
  font-family: "Georgia";
  src: url("../../fonts/georgia/georgia-bold-italic.ttf") format(ttf);
  font-weight: bold;
  font-style: italic, oblique;
}

@font-face {
  font-family: "Arial";
  src: url("../../fonts/arial/arial-regular.ttf") format(ttf);
}

@font-face {
  font-family: "Georgia";
  src: url("../../fonts/arial/arial-bold.ttf") format(ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Georgia";
  src: url("../../fonts/arial/arial-italic.ttf") format(ttf);
  font-style: italic, oblique;
}

@font-face {
  font-family: "Georgia";
  src: url("../../fonts/arial/arial-bold-italic.ttf") format(ttf);
  font-weight: bold;
  font-style: italic, oblique;
}

.first-row {
  grid-column: span 4;
}

.second-row {
  grid-column: span 5;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 128rem;
  background-color: #fff;
}

.disabled {
  cursor: initial;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 5;
}

.hidden {
  display: none;
}

@-webkit-keyframes slide-in {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slide-in {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.transition-in {
  -webkit-animation-name: slide-in;
          animation-name: slide-in;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes slide-out {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes slide-out {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.transition-out {
  -webkit-animation-name: slide-out;
          animation-name: slide-out;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.btn:link, .btn:visited {
  display: inline-block;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  padding: 1.3rem 4.3rem;
  border-radius: 5rem;
  color: #292929;
  letter-spacing: 0.06em;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border: 2px solid #f1cdb3;
  background-color: #f1cdb3;
}

.btn:link:hover, .btn:link:active, .btn:visited:hover, .btn:visited:active {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
}

.main-nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.5rem;
}

@media (max-width: 1279px) {
  .main-nav__list {
    -moz-gap: 3.8rem;
    gap: 3.6rem;
  }
}

.main-nav__list--link {
  height: 2.7rem;
}

.main-nav__list--link:link, .main-nav__list--link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 160%;
  color: #cdcdcd;
}

.main-nav__list--link:hover {
  color: #fafafa;
}

.main-nav__list--link:active {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}

.main-nav__list .link--active {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
  cursor: default;
}

@media (max-width: 767px) {
  .main-nav__list {
    display: none;
  }
}

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.5rem;
}

@media (max-width: 1279px) {
  .nav__list {
    -moz-gap: 3.8rem;
    gap: 3.6rem;
  }
}

.nav__list--link {
  height: 2.7rem;
}

.nav__list--link:link, .nav__list--link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 160%;
  color: #545454;
}

.nav__list--link:hover {
  color: #292929;
}

.nav__list--link:active {
  color: #292929;
  border-bottom: 3px solid #f1cdb3;
}

.nav__list .link--active {
  color: #292929;
  border-bottom: 3px solid #f1cdb3;
  cursor: default;
}

@media (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

.burger-nav {
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 9;
}

@media (max-width: 767px) {
  .burger-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 9px;
  }
  .burger-nav:hover {
    cursor: pointer;
  }
  .burger-nav .navigation__icon {
    display: block;
    width: 3rem;
    height: 2px;
    background-color: #f1cdb3;
    color: #f1cdb3;
    border: none;
    margin: 0 4.2rem;
  }
}

.burger-nav--pets {
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 9;
}

@media (max-width: 767px) {
  .burger-nav--pets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 9px;
    position: relative;
  }
  .burger-nav--pets:hover {
    cursor: pointer;
  }
  .burger-nav--pets .navigation__icon {
    display: block;
    width: 3rem;
    height: 2px;
    background-color: #292929;
    color: #292929;
    border: none;
    margin: 0 4.2rem;
  }
}

.burger__menu {
  width: 32rem;
  height: 100vh;
  position: fixed;
  top: 0%;
  right: 0%;
  background-color: #292929;
  z-index: 10;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.burger__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
  position: relative;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.burger__btn:hover {
  cursor: pointer;
}

.burger__btn .navigation__icon {
  display: block;
  width: 3rem;
  height: 2px;
  background-color: #f1cdb3;
  color: #f1cdb3;
  border: none;
  margin: 0 4.2rem;
}

.burger__wrapper {
  margin: 3rem 1rem 0 1rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.burger__header {
  position: absolute;
  top: 0%;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.7rem;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 160%;
  color: #cdcdcd;
  text-align: center;
}

.burger__list a {
  text-decoration: none;
  color: #cdcdcd;
}

.burger__list li {
  border-bottom: 3px solid transparent;
}

.burger__list li:active {
  border-bottom: 3px solid #f1cdb3;
}

.burger__link {
  display: none;
}

@media (max-width: 767px) {
  .burger__link {
    display: block;
    position: absolute;
    top: 4rem;
    right: 0;
    z-index: 999;
  }
}

.burger__link--pets {
  display: none;
}

@media (max-width: 767px) {
  .burger__link--pets {
    display: block;
    position: fixed;
    top: 4rem;
    right: 0;
    z-index: 999;
  }
}

.burger__menu--pets {
  width: 32rem;
  height: 100vh;
  position: fixed;
  top: 0%;
  right: 0%;
  background-color: #fff;
  z-index: 10;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.burger__btn--pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
  position: relative;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.burger__btn--pets:hover {
  cursor: pointer;
}

.burger__btn--pets .navigation__icon {
  display: block;
  width: 3rem;
  height: 2px;
  background-color: #292929;
  color: #292929;
  border: none;
  margin: 0 4.2rem;
}

.burger__wrapper--pets {
  margin: 3rem 1rem 0 1rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.burger__header--pets {
  position: absolute;
  top: 0%;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger__list--pets {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.7rem;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 160%;
  color: #545454;
  text-align: center;
}

.burger__list--pets a {
  text-decoration: none;
  color: #545454;
}

.burger__list--pets li {
  border-bottom: 3px solid transparent;
}

.burger__list--pets li:active {
  border-bottom: 3px solid #f1cdb3;
}

.burger__link--active {
  color: #292929;
  border-bottom: 3px solid #f1cdb3;
  cursor: default;
  padding: 8px;
}

.burger__link-item--active {
  color: #f1cdb3;
  border-bottom: 3px solid #f1cdb3;
  cursor: default;
  border-bottom: 3px solid #f1cdb3;
  padding: 8px;
}

.slider {
  height: 43.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media (max-width: 767px) {
  .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .slider__buttons {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8rem;
  }
}

.slider__arrow {
  border-radius: 50%;
  height: 52px;
  width: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  color: #292929;
  background-color: transparent;
  border: 2px solid #f1cdb3;
  z-index: 20;
}

.slider__arrow:hover {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
}

@media (min-width: 1280px) {
  .slider__arrow {
    position: absolute;
    top: 50%;
  }
}

@media (max-width: 1279px) {
  .slider__arrow {
    position: absolute;
    top: 50%;
    gap: 4rem;
  }
}

.slider__arrow--left {
  left: 0;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.slider__arrow--right {
  right: 0;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

@media (max-width: 767px) {
  .slider__arrow {
    position: inherit;
  }
  .slider__arrow--left {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  .slider__arrow--right {
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
  }
}

.slider__carousel-wrapper {
  width: 99rem;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 1279px) {
  .slider__carousel-wrapper {
    width: 58rem;
  }
}

@media (max-width: 767px) {
  .slider__carousel-wrapper {
    width: 27rem;
  }
}

.slider__carousel {
  position: relative;
  left: -99rem;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1279px) {
  .slider__carousel {
    left: -58rem;
  }
}

@media (max-width: 767px) {
  .slider__carousel {
    left: -27rem;
  }
}

.slider__slide {
  width: 120rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

@media (max-width: 1279px) {
  .slider__slide {
    max-width: 58rem;
    gap: 4rem;
  }
}

@media (max-width: 767px) {
  .slider__slide {
    max-width: 27rem;
    position: inherit;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.card {
  width: 27rem;
  height: 43.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  border-radius: 9px;
  gap: 2.8rem;
}

.card:hover {
  -webkit-box-shadow: 2px 3.5rem 1.4rem rgba(13, 13, 13, 0.04);
          box-shadow: 2px 3.5rem 1.4rem rgba(13, 13, 13, 0.04);
  background-color: #fff;
  cursor: pointer;
}

.card__img {
  height: 27rem;
  width: 27rem;
}

.card--header {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.card--btn {
  display: inline-block;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  padding: 1.3rem 4.3rem;
  border-radius: 5rem;
  color: #292929;
  letter-spacing: 0.06em;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border: 2px solid #f1cdb3;
}

.card--btn:hover {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
}

.card:hover .card--btn {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
}

@media (max-width: 1279px) {
  .card--3 {
    display: none;
  }
}

@media (max-width: 767px) {
  .card--3 {
    display: none;
  }
}

@media (max-width: 767px) {
  .card--2 {
    display: none;
  }
}

.header__logo {
  max-width: 18.4rem;
  text-decoration: none;
}

.header__logo--main {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 1.75px;
  color: #545454;
  padding-bottom: 1rem;
}

.header__logo--sub {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: #545454;
  letter-spacing: 1.3px;
}

.header-main__logo {
  max-width: 18.4rem;
  text-decoration: none;
}

.header-main__logo--main {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 1.75px;
  color: #f1cdb3;
  padding-bottom: 1rem;
}

.header-main__logo--sub {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: #fff;
  letter-spacing: 1.3px;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
}

.modal:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.modal__wrapper {
  background-color: #fafafa;
  width: 90rem;
  height: 50rem;
  position: relative;
  border-radius: 9px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 1279px) {
  .modal__wrapper {
    width: 63rem;
    height: auto;
  }
}

@media (max-width: 767px) {
  .modal__wrapper {
    width: 24rem;
    height: auto;
  }
}

.modal .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(80%, -100%);
          transform: translate(80%, -100%);
  border-radius: 50%;
  height: 52px;
  width: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-color: transparent;
  color: #292929;
  border: 2px solid #f1cdb3;
}

.modal .btn-close:hover {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
}

.modal__img {
  width: 50rem;
}

@media (max-width: 1279px) {
  .modal__img {
    width: 35rem;
  }
}

.modal__img--container {
  width: 50rem;
}

@media (max-width: 1279px) {
  .modal__img--container {
    width: 35rem;
  }
}

@media (max-width: 767px) {
  .modal__img--container {
    display: none;
  }
}

.modal__content {
  height: 100%;
  width: 100%;
  padding: 5rem 2rem 0 2.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000000;
}

@media (max-width: 1279px) {
  .modal__content {
    padding: 1rem;
  }
}

.modal__content h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .modal__content h3 {
    display: block;
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 25rem;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

@media (max-width: 767px) {
  .modal__content h3 {
    text-align: center;
  }
}

.modal__content h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin-bottom: 4rem;
}

@media (max-width: 1279px) {
  .modal__content h4 {
    margin-bottom: 2rem;
  }
}

@media (max-width: 767px) {
  .modal__content h4 {
    margin-bottom: 2rem;
    text-align: center;
  }
}

.modal__content p {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 4rem;
}

@media (max-width: 1279px) {
  .modal__content p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 767px) {
  .modal__content p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    text-align: justify;
  }
}

.modal__content ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

@media (max-width: 1279px) {
  .modal__content ul {
    gap: 0.5rem;
  }
}

@media (max-width: 767px) {
  .modal__content ul {
    gap: 0.5rem;
  }
}

.modal__content ul span {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  font-weight: 700;
  display: inline;
}

.modal__content li {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.modal__content li::before {
  content: "\2022";
  color: #f1cdb3;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 50;
}

.modal__overlay:hover {
  cursor: pointer;
}

.modal__overlay:hover + .modal > .btn-close {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
}

.footer {
  background-image: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1280px) {
  .footer {
    padding: 4rem 4rem 0 4rem;
    height: 35rem;
    gap: 16rem;
  }
}

@media (max-width: 1279px) {
  .footer {
    padding: 3rem 3rem 0 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 6.5rem;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 3rem 1rem 0 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4rem;
  }
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1280px) {
  .footer__contacts {
    gap: 14rem;
    width: 74rem;
  }
}

@media (max-width: 1279px) {
  .footer__contacts {
    gap: 4rem;
    width: 64.4rem;
  }
}

@media (max-width: 767px) {
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4rem;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 23.4rem;
}

@media (min-width: 1280px) {
  .footer .contacts {
    margin-top: 1.8rem;
  }
}

@media (max-width: 1279px) {
  .footer .contacts {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .footer .contacts--first {
    height: 20.8rem;
  }
}

@media (max-width: 767px) {
  .footer .contacts--second {
    height: 22rem;
  }
}

.footer--heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #fff;
}

@media (max-width: 767px) {
  .footer--heading {
    display: block;
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 25rem;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

.footer .contact__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
  gap: 4.4rem;
}

.footer .adress__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
  gap: 3.6rem;
}

.footer .adress__list--item,
.footer .contact__list--item {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.footer__img {
  max-width: 30rem;
}

@media (max-width: 767px) {
  .footer__img {
    max-width: 26rem;
  }
}

.footer .footer--link {
  color: #f1cdb3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.footer .footer--link:link, .footer .footer--link:active, .footer .footer--link:hover, .footer .footer--link:visited {
  text-decoration: none;
  color: #f1cdb3;
}

.header {
  height: 12rem;
  padding: 3rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header a:link,
.header a:visited {
  text-decoration: none;
}

@media (max-width: 1279px) {
  .header {
    padding: 3rem 3rem;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 3rem 1rem;
    min-width: 29.9rem;
  }
}

.header-main {
  position: absolute;
  height: 6rem;
  top: 6rem;
  width: 120rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main a:link,
.header-main a:visited {
  text-decoration: none;
}

@media (max-width: 1279px) {
  .header-main {
    top: 3rem;
    width: 92.2%;
  }
}

@media (max-width: 767px) {
  .header-main {
    top: 3rem;
    min-width: 29.9rem;
  }
}

.not-only {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1280px) {
  .not-only {
    height: 72.8rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1279px) {
  .not-only {
    height: 101.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 767px) {
  .not-only {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10.5rem;
    height: auto;
  }
}

.hero {
  position: relative;
  background-image: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}

@media (min-width: 1280px) {
  .hero {
    height: 90.8rem;
    padding: 12rem 4rem 0 4rem;
  }
}

@media (max-width: 1279px) {
  .hero {
    padding: 9rem 3rem 0 3rem;
  }
}

@media (max-width: 767px) {
  .hero {
    padding: 9rem 1rem 0 1rem;
  }
}

@media (max-width: 1279px) {
  .hero__img--container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 767px) {
  .hero__img--container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.hero__img {
  width: 100%;
}

@media (max-width: 1279px) {
  .hero__img {
    width: 56.9rem;
  }
}

@media (max-width: 767px) {
  .hero__img {
    width: 26rem;
  }
}

@media (min-width: 1280px) {
  .hero__content {
    max-width: 46rem;
    margin-top: 16.3rem;
  }
}

@media (max-width: 1279px) {
  .hero__content {
    max-width: 46rem;
    margin-top: 16.3rem;
  }
}

@media (max-width: 1279px) {
  .hero__content {
    margin-top: 0;
  }
}

.hero__content--heading-primary {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 130%;
  color: #fff;
  max-width: 31rem;
  margin-bottom: 4.2rem;
}

@media (max-width: 767px) {
  .hero__content--heading-primary {
    display: block;
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 25rem;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

.hero__content--description {
  font-family: "Arial";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: #cdcdcd;
  margin-bottom: 4.2rem;
}

@media (max-width: 767px) {
  .hero__content--description {
    text-align: center;
  }
}

.hero__content--btn {
  display: inline-block;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  padding: 1.3rem 4.3rem;
  border-radius: 5rem;
  color: #292929;
  letter-spacing: 0.06em;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border: 2px solid #f1cdb3;
  background-color: #f1cdb3;
}

.hero__content--btn:hover, .hero__content--btn:active {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
}

@media (max-width: 1279px) {
  .hero__content--btn {
    display: block;
    margin: 0 auto;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1280px) {
  .about {
    padding: 8rem 4rem 10rem 4rem;
    height: 58.8rem;
    background-color: #fff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 12rem;
  }
}

@media (max-width: 1279px) {
  .about {
    padding: 8rem 4rem 10rem 4rem;
    height: auto0;
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8rem;
  }
}

@media (max-width: 767px) {
  .about {
    background-color: #fff;
    -moz-padding: 4.2rem 2.5rem 3.5rem 2.5rem;
    padding: 4.2rem 2.5rem 4.2rem 2.5rem;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -moz-gap: 3.1rem;
    gap: 3.9rem;
  }
}

.about__img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .about__img {
    height: 35.4rem;
  }
}

@media (max-width: 1279px) {
  .about__img--container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.about__content--container {
  max-width: 43rem;
}

@media (max-width: 1279px) {
  .about__content--container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.about__content--heading-primary {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 37rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 767px) {
  .about__content--heading-primary {
    display: block;
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 25rem;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

.about__content--paragraph {
  font-family: "Arial";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: #4c4c4c;
  margin-bottom: 2.5rem;
}

.about__content--paragraph:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .about__content--paragraph {
    text-align: justify;
    margin-bottom: 2.2rem;
  }
}

.pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1280px) {
  .pets {
    padding: 8rem 4rem 10rem 4rem;
    height: 87.7rem;
    background-color: #f6f6f6;
    gap: 6rem;
  }
}

@media (max-width: 1279px) {
  .pets {
    padding: 8rem 4rem 10rem 4rem;
    height: 87.7rem;
    background-color: #f6f6f6;
    gap: 6rem;
  }
}

@media (max-width: 1279px) {
  .pets {
    padding: 7.75rem 3rem 10rem 3rem;
    gap: 6rem;
    height: auto;
  }
}

@media (max-width: 767px) {
  .pets {
    padding: 4.2rem 1rem;
    background-color: #f6f6f6;
    gap: 4.2rem;
    height: auto;
  }
}

.pets__heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 40rem;
  text-align: center;
}

@media (max-width: 767px) {
  .pets__heading {
    display: block;
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 25rem;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

@media (max-width: 767px) {
  .pets__heading {
    max-width: 100%;
    font-size: 25px;
  }
}

@media (max-width: 1279px) {
  .pets__slider {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .pets__slider {
    width: 100%;
    height: 50.7rem;
  }
}

.help {
  padding: 8rem 4rem 10rem 4rem;
  height: auto0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1279px) {
  .help {
    padding: 7.75rem 4rem 10rem 4rem;
  }
}

@media (max-width: 767px) {
  .help {
    -moz-padding: 4.2rem 1rem 1.6rem 1rem;
    padding: 4.2rem 1rem 1.3rem 1rem;
    background-color: #fff;
    height: auto;
  }
}

.help__heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-bottom: 6rem;
}

@media (max-width: 767px) {
  .help__heading {
    display: block;
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 25rem;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

@media (max-width: 767px) {
  .help__heading {
    margin-bottom: 4.2rem;
  }
}

@media (min-width: 1280px) {
  .help__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-column-gap: 12rem;
            column-gap: 12rem;
    row-gap: 5.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1279px) {
  .help__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-column-gap: 12rem;
            column-gap: 12rem;
    row-gap: 5.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1279px) {
  .help__list {
    width: 63rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -webkit-column-gap: 6rem;
            column-gap: 6rem;
    row-gap: 5.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .help__list {
    padding: 0 0.5rem;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    row-gap: 0.37rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.help__list__item {
  height: 11.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

@media (max-width: 767px) {
  .help__list__item {
    gap: 2rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .help__list__item--icon {
    height: 45%;
  }
}

.help__list__item--heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
}

@media (max-width: 767px) {
  .help__list__item--heading {
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.06em;
  }
}

.donation {
  padding: 8rem 4rem 10rem 4rem;
  height: auto0;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .donation {
    padding: 4.2rem 1rem 0rem 1rem;
    background-color: #f6f6f6;
    height: auto;
  }
}

@media (min-width: 1280px) {
  .donation {
    gap: 3rem;
  }
}

@media (max-width: 1279px) {
  .donation {
    gap: 3rem;
  }
}

@media (max-width: 1279px) {
  .donation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5.8rem;
  }
}

@media (max-width: 767px) {
  .donation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: normal;
    height: 54.3rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.donation__content--container {
  max-width: 38rem;
}

@media (max-width: 1279px) {
  .donation__content--container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 767px) {
  .donation__content--container {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
}

.donation__content--heading-primary {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 30rem;
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .donation__content--heading-primary {
    display: block;
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 25rem;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

@media (max-width: 767px) {
  .donation__content--heading-primary {
    max-width: 70%;
    margin-bottom: 0;
  }
}

.donation__content--subheading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .donation__content--subheading {
    line-height: 160%;
    text-align: center;
    letter-spacing: normal;
    margin-bottom: 0;
  }
}

.donation__content--paragraph {
  font-family: "Arial";
  font-weight: 400;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 150%;
  color: #b2b2b2;
  margin-top: 2rem;
  text-align: left;
}

@media (max-width: 767px) {
  .donation__content--paragraph {
    padding: 0 1rem;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
    margin-top: 0;
  }
}

.donation__creditcard {
  text-decoration: none;
  display: inline-block;
}

.donation__creditcard--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 0.9rem;
  background-color: #f1cdb3;
  text-decoration: none;
}

.donation__creditcard--container:hover {
  background-color: #fddcc4;
}

.donation__creditcard--number {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  text-decoration: none;
}

@media (max-width: 767px) {
  .donation__creditcard--number {
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.06em;
  }
}

.donation__img {
  max-width: 100%;
}

@media (max-width: 1279px) {
  .donation__img--container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 767px) {
  .donation__img--container {
    margin: auto;
    max-width: 26rem;
  }
}
/*# sourceMappingURL=style.css.map */